:root{
  --color1: #181bc9;
  --color2: #1b3e76;
  --color3: #fff;
  --color4: #000;
  --color5: #7274F2;
  --color6: #BF0067;
  --color7: #a8a9e6;
  --color8: #ee80cf;
  --error: #fd3030;
}

.cadastro-body {
  margin: 30px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cadastro-container {
  background-color: var(--color1);
  padding: 40px 20px;
  width: 400px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 1px 5px var(--color2);
  color: var(--color3);
}

#cadastro-logo-icone {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 15%;
    margin: 5px auto 20px;
    object-fit: cover;
}

.cadastro-grupo-inputs{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cadastro-container > h1 {
  font-size: 28px;
  color: var(--color3);
  margin-bottom: 15px;
  text-align: center;
}

.cadastro-input{
    font-size: 18px;
    text-align: center;
    color: var(--color2);
    width: 90%;
    padding: 5px;
    border: 1px solid var(--color5);
    border-radius: 5px;
}

.cadastro-form > button{
    width: 90%;
    height: 35px;
    padding: 5px;
    margin: 10px 0 5px 0;
    color: var(--color3);
    background-color: var(--color5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.cadastro-form > button:hover{
    background-color: var(--color6);
    color: var(--color3);
    transition: 0.75s;
}

.cadastro-possui-conta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.cadastro-possui-conta p {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.cadastro-possui-conta a {
    text-decoration: none;
    color: var(--color2);
}

.cadastro-possui-conta a:hover {
  color: var(--color6);
  transition: 0.3s;
}

.cadastro-password-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.cadastro-password-container input {
  width: 100%;
  padding-right: 40px;
}

.cadastro-password-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color2);
  cursor: pointer;
  
}

.cadastro-password-container i:hover {
  color: var(--color6);
}

.cadastro-input-error {
  font-size: 20px;
  margin-top: 10px;
  color: var(--error);
  font-weight: 500;
}