:root {
  --color1: #181bc9;
  --color2: #1b3e76;
  --color3: #fff;
  --color4: #000;
  --color5: #7274F2;
  --color6: #BF0067;
}

footer {
    width: 100vw;
    background-color: var(--color2);
    padding: 40px 20px;
    color: #ffffff;
  }
  
  .footer-container {
    text-align: center;
  }
  
  .footer-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 25px;
  }
  
  .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .sponsors img {
    height: 50px;
    width: auto;
    filter: brightness(0) invert(1);
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column;
      text-align: center;
    }
  
    .text-area h1 {
      font-size: 2rem;
    }
  
    .cards {
      flex-direction: column;
      align-items: center;
    }
  
    .sponsors {
      gap: 20px;
    }
  }